main{
    padding: 30px 30px 10px;
}
.add-ingredient-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 38px;
}
.add-ingredient-form > input{
    width: 250px;
    padding: 9px 13px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}
.add-ingredient-form > button{
    background-color: #141413;
    color: white;
    border-radius: 6px;
    border:none;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.add-ingredient-form > button::before{
    content: "+";
    margin-right: 5px;
}